nav#navbar-example2.navbar.navbar-expand-lg.bg-primary.mb-4(data-bs-theme="dark")
  .container
    a.navbar-brand(href="#")= appName
    ul.nav.nav-pills
      li.nav-item
        a.nav-link.active(href="#")= "Home"
      li.nav-item.dropdown
        a.nav-link.active.dropdown-toggle(data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false")
          | User
        ul.dropdown-menu
          li
            a.dropdown-item(href="#")= "Profile"
          li
            a.dropdown-item(href="#")= "Settings"
          li
            hr.dropdown-divider
          li
            a.dropdown-item(href="#")= "Logout"